<div>
  <h2><%= @event.title %></h2>
  <br>
  <p><%= @event.description %></p>
  <%= @event.event_date %>
  <%= link_to "#{@event.creator.name}", @event.creator %>
  <br>
  <% if check_owner(@event) %>
    <br>
    <%= link_to "Edit event", edit_event_path(@event) %>
    <br>
    <%= link_to "Delete event", event_path(@event), method: :delete %>
  <% else %>
    <% if !attending?(@event) %>
      <%= link_to 'Attend This Event!', controller: :events, action: :attend_to_event  %>
    <% else %>
      <%= link_to 'Stop attending', controller: :events, action: :stop_attending_to_event  %>
    <% end %>
  <% end %>
  <% unless @event.attendees.empty? %>
    <h3>Event Attendees</h3>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= link_to "#{attendee.name}", attendee %></li>
      <% end %>
    </ul>
  <% end %>
</div>